body{
    background-color: #161616;
    color: aliceblue;
}

/* Custom CSS to set the width and center the div */
.custom-div {
    width: 70%;
    margin: 0 auto; /* Center the div horizontally */
}

.custom-title {
    margin: 20px auto;
}

.definitionDiv-class{
    background-color: #161616 !important ;
    border: 1px solid aliceblue;
    color: aliceblue;
    text-align: center;
    border-radius: 3px;
    padding: 2px;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.custom-link {
  color: aliceblue;  /* Set the default hyperlink color to Bootstrap's primary color (blue) */
  font-size: 15px;
  font-weight: bold;
}

.custom-link:hover {
  color: rgb(168, 174, 178);  /* Change the hyperlink color on hover to Bootstrap's danger color (red) */
  text-decoration: none;
}

.chinese{
  font-family: "Microsoft YaHei";
  font-size: 30px;
  font-weight: lighter;
}

.book-topic-container {
  margin-top: 0%;
}

.book-image{
  width: 40%;
  height: 40%;
  padding: 3%;
}

.card-body{
  min-height: 100px;
  max-height: 100px;
  padding: 6%;
  vertical-align: middle;
  text-align: center;
}

.sidenav a {
  color: white;
  font-size: 24px;
}

.master-container {
  margin-top: 30%;
}

.chinese-small{
  font-family: "Microsoft YaHei";
  font-size: 20px;
  font-weight: lighter;
}