<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<meta charset="UTF-8">
<title>Immerse Lingual</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<body>

<!-- Navbar-->
<div class="sidenav">
    <a href="/"><i class="fas fa-home"></i></a>
    <a href="javascript:history.back();">
        <i class="fas fa-arrow-left"></i>
    </a>
</div>

<div class="display-1 text-center custom-title fade-in">
    <h1> {{ title }} </h1>
</div>

<div class="custom-div fade-in text-center  fade-in" id="books">

    <div class="container">
        <div class="row">
            {% for chapter in chapters %}
            {% set formatted_text = chapter.split("/")[-1] | replace("-", " ") | title %}
            {% set font_size = '16px' if formatted_text|length <= 15 else '14px' %}
        
            <div class="col-sm-4"> <!-- Adjust the column width as per your desired layout -->
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <a href="/read?urn={{ chapter }}" class="custom-link" style="font-size: {{ font_size }};">{{ formatted_text }}</a><br>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>
